<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>
<% content_for :menu do -%>
  <div id="templatemo_menu">
            <ul>
                <li><a href="index.html"><span></span>Home</a></li>
                <li><a href="work_detail.html"><span></span>Articles</a></li>
                <li><a href="work_detail.html"><span></span>News</a></li>
                <li><a href="index.html" class="current"><span></span>Gallery</a></li>
                <li><a href="work_detail.html"><span></span>Contact Us</a></li>
            </ul>    	
        </div>
<% end -%>



<!-- original body content -->

	<h2>Our Works</h2>

	<div class="product_box margin_r40">
        <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_01.jpg" alt="image 1" /></a></div>
        <h3>Project One</h3>
        <p>Etiam molestie massa nec nulla sagittis et luctus nulla.</p>
    </div>
    
    <div class="product_box margin_r40">
        <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_02.jpg" alt="image 2" /></a></div>
        <h3>Project Two</h3>
        <p>Aenean aliquam ullamcorper metus, at cursus elit sodales.</p>
    </div>
    
    <div class="product_box margin_r40">
        <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_03.jpg" alt="image 3" /></a></div>
        <h3>Project Three</h3>
        <p>Nam sed volutpat ipsum. Phasellus pharetra pellentesque.</p>
    </div>
    
	<div class="product_box">
        <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_04.jpg" alt="image 4" /></a></div>
        <h3>Project Four</h3>
        <p>Proin rutrum neque vitae nisi venenatis blandit in ac dui.</p>
    </div>
    
	<div class="cleaner"></div>
    
  	<div class="product_box margin_r40">
        <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_05.jpg" alt="image 5" /></a></div>
        <h3>Project Five</h3>
        <p>Mauris dignissim vehicula sapien, in accumsan quam commodo.</p>
    </div>
    
    <div class="product_box margin_r40">
	    <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_06.jpg" alt="image 6" /></a></div>
        <h3>Project Six</h3>
    	<p>Morbi ultrices congue nunc sit amet rutrum. Ut pretium diam eu.</p>
    </div>
    
    <div class="product_box margin_r40">
         <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_07.jpg" alt="image 7" /></a></div>
         <h3>Project Seven</h3>
	     <p>Duis facilisis ante sit amet libero sodales cursus vehicula urna.</p>
    </div>
    
	<div class="product_box">
         <div class="thumb_wrapper"><a href="work_detail.html"><img src="/images/templatemo_image_08.jpg" alt="image 8" /></a></div>
         <h3>Project Eight</h3>
	     <p>Proin vitae felis in urna laoreet suscipit. Integer consequat felis.</p>
    </div>
    
    <div class="cleaner_h20"></div>
    
    <div class="button_01"><a href="#">View All</a></div>

	<div class="cleaner"></div>
