/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "base";
@import "templatemo_style";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "fancy-buttons";

#templatemo_content {
  @include clearfix;
}

.pagination {
  @include clearfix;
  clear: both;
  margin-bottom: 20px;
  
  .prev_page {
    @include float-left;
  }
  .next_page {
    @include float-right;
  }
}

.buttons {
  a, .disabled {
    @include fancy-button-structure();
    @include fancy-button-colors($button, $hover);
    font-size: 12px;
    color: #333;
    width: 85px;
    text-align: center;
  }
}