/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "base";
@import "templatemo_style";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "compass/utilities/text/replacement";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "fancy-buttons";
@import "formtastic_changes";
@import "flash";


/* Sign up
--------------------------------------------------------------------------------------------------*/
.sign_up {
  width: 450px;
  margin: 0 auto;
}


#templatemo_content {
  @include clearfix;
  .title {
    .buttons {
      text-align: right;
      margin-bottom: -42px;
    }
  }
  .photo_crop {
    float: left;
    margin-right: 20px;
    .product_img_wrapper {
      display: block;
      width: 471px;
      height: 384px;
      padding: 7px;
      background: url(/images/preview_image_bg.jpg) no-repeat;
      img {
        border: 1px solid #ffffff;
        width: 470px;
        height: 352px;
      } 
    }
  }
  .product_box {
    position: relative;
    p.amount {
      //font-weight: bold;
      margin-top: -19px;
      text-align: right;
      color: #006695;
    }
    p.sold {
      position: absolute;
      top: 113px;
      left: 50%;
      color: white;
      background: black;
      padding: 6px 0;
      margin-left: -95px;
      text-align: center;
      font-weight: bold;
      width: 190px;
    }
  }
}

.actions {
  a.edit {
    float: left;
  }
  a.delete {
    float: right;
  }
}
.pagination {
  @include clearfix;
  clear: both;
  margin-bottom: 20px;
  .prev_page {
    @include float-left;
  }
  .next_page {
    @include float-right;
  }
}

.product_edit_left {
  float: left;
  width: 455px;
}

.buttons {
  button, a, .disabled {
    @include fancy-button-structure();
    @include fancy-button-colors($button, $hover);
    font-size: 1em;
    width: 85px;
    text-align: center;
    height: 22px;
  }
  button {
    width: 120px;
    height: 34px;
  }
  .positive {
    color: $button-positive-text !important;
    @include fancy-button-colors($button-positive, $button-positive-hover, $button-positive-active);
    &:active {
      color:#fff !important;
    }
  }
  .negative {
    color: $button-negative-text !important;
    @include fancy-button-colors($button-negative, $button-negative-hover, $button-negative-active);
    &:active {
      color:#fff !important;
    }
  }
}
