#templatemo_menu
  %ul
    %li
      - link_to root_path do
        %span Home
    %li
      = mail_to(APP_CONFIG['email_address'], t(:'.contact_us.title'), :subject => t(:'.contact_us.subject'), :encode => :hex)
    %li
      - unless user_signed_in?
        = link_to t('buttons.sign_in'), new_user_session_path
      - else
        = link_to t('buttons.sign_out'), destroy_user_session_path